SmartLinkCore/out/artifacts/SmartFun3/SmartFun3.jar
SmartLinkCore/out/artifacts/SmartFun_jar/homeorangepismartlinklog
SmartLinkCore/out/artifacts/SmartFun_jar/SmartFun-linux.jar
*.iml
SmartLinkCore/SmartFun.iml
*.o
SmartSwitch/dev/app/user/.output/eagle/debug/obj/tcp_client.d
*.d
SmartSwitch/dev/app/user/.output/eagle/debug/lib/libuser.a
*.12424
SmartSwitch/dev/app/user/.output/eagle/debug/obj/tcp_client.d.1268
*.19288
*.19596
*.212
*.bin
*.log
SmartFun/logs/dailylog
SmartFun/out/artifacts/SmartFun3/SmartFun3.jar
SmartFun/out/artifacts/SmartFun_jar/homeorangepismartlinklog
SmartFun/out/artifacts/SmartFun_jar/log4j.properties
SmartFun/out/artifacts/SmartFun_jar2/SmartFun-linux.jar
SmartFun/out/artifacts/SmartFun_jar2/log4j.properties
*.class
SmartFun/out/artifacts/SmartFun_jar/SmartFun-linux.jar
SmartFun/.idea/libraries/Maven__log4j_log4j_1_2_16.xml
SmartFun/.idea/modules.xml
SmartFun/out/artifacts/SmartFun_jar2/SmartFun.jar
SmartFun/.idea/artifacts/SmartFun_jar.xml
SmartFun/.idea/artifacts/SmartFun_jar2.xml
SmartFun/.idea/workspace.xml
SmartFun/.idea/libraries/Maven__com_google_code_gson_gson_2_7.xml
SmartFun/.idea/libraries/Maven__com_squareup_okhttp3_okhttp_3_3_1.xml
SmartFun/.idea/copyright/profiles_settings.xml
SmartFun/.idea/compiler.xml
SmartFun/.idea/misc.xml
SmartFun/.idea/libraries/Maven__io_netty_netty_all_4_1_4_Final.xml
SmartFun/.idea/libraries/Maven__com_squareup_okio_okio_1_8_0.xml
SmartFun/.idea/encodings.xml
SmartFun/.idea/libraries/Protcal.xml